# copy this file to a file named gcp.config and file in the following values to have the deploy and test scripts in bin/ work

# prod config values
prodCloudFunction=
prodCloudFunctionTopic=
prodCloudFunctionEntryPoint=

# test config values
testCloudFunction=
testCloudFunctionTopic=
testCloudFunctionEntryPoint=
